<h1>Hello StartUp!</h1>
<p>Let's get started!</p>

<%= form_tag("/sms/send", method: "post") do %>
  <%= label_tag(:phone, "To:") %>
  <%= text_field_tag (:phone) %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag(:message) %>
  <%= submit_tag(:submit) %>
<% end %>